html, body {
    color: white;
    line-height: 1.2;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header {
    padding-left: 1em;
    width: 100%;
    color: black
}

div {
    width: 100%;
}

section.char {
    padding: 2em;
    min-width: 22em;
    max-height: 50em;
    min-height: 20em;
    margin: .5em;
    background-color: black;
    flex: 1 0;
    display: flex;
    max-width: 33.3%;
    flex-direction: column;
}

section.char img {
    width: 100%;
    border: 2px dashed white;
    padding: 0 0 0 0;
}

.empty {
   padding: 2em;
    min-width: 21em;
    height: 0;
    margin: .5em;
    background-color: white;
    flex: 1 0;
    display: flex;
    max-width: 33.3%;
    flex-direction: column;
}

.Butt{
    width: 10em;
    padding: .5em;
    margin: auto auto auto auto;
    display: block;
    
    
}

#validatie img {
    height: 1em;
    width: auto;
    border: 0;
    margin: 0 .3em;
}